/* src/Products.css */
.products-container {
  padding: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Center the cards */
}

.card {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  width: 200px;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05); /* Scale effect on hover */
}

.product-image {
  width: 100%;
  border-radius: 5px;
  height: 150px; /* Set a fixed height for uniformity */
  object-fit: cover; /* Maintain aspect ratio */
}
